.hospital-history {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e5860;
  width: 564.34px;
}

.hospital-title {
  margin-bottom: 12px;
}

.hospital-df {
  display: flex;
  align-items: center;
}